@import url('https://fonts.googleapis.com/css?family=Roboto');


body { 
 background-image: url("http://Work001.github.io/unit_4/Background1.jpg");
 background-size: cover;
 color: #fff;
 background-position: absolute;
 height: 800px;
 background-repeat: no-repeat;
 font-family: 'Roboto', sans-serif;	
}

p {
	
	
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
	font-size: 15px;
	line-height: 2em;

}

h1 { 

	color:rgb(000,000,000);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
	font-size: 45px;
	display: block;
	text-decoration: underline;
	text-decoration-color: #98d7cf;
}

}
span{

	letter-spacing: 0.05em;
	text-decoration: underline;
	text-decoration-color: #98d7cf;



}


footer{
	text-align: center;
  	padding: 2em 0;
  	color: rgb(000,000,000);
  	font-size: 0.5em;
  	background: #98d7cf;
  	display: block;

}



img{

	display: inline-block;
	padding: 0 3em 0 3em;
	margin-left: auto;
    margin-right: auto;


}

div {
  font-size: 1.2em;
  width: auto;
  padding: 2%;
  display: inline-block;
}

#leftside{

	float: left;
}

li{
	margin: 0px 10px;
	float: left;
	margin-right: 50px;
  	width: 20%;
  	height: 2em;
  	outline: 1px solid #98d7cf;
 	text-align: center;
  	line-height: 2em;
  	background: #98d7cf;

}