Body { 
background-image: url("http://Work001.github.io/unit_3/blur1.jpg");
 background-size: auto;
 color: #fff;
 font-family: Open Sans;
 text-align: center;
 padding-top: 150px;
 	
}

h1, p {
	color:(000,000,000);
	font-family: Open Sans;
	text-align: center;
}

#p1 {
	font-size: 15px
	padding-top: 10px;
	padding-left: 300px;
	padding-right: 300px;
}